.container {
  position: relative;
  width: 80%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #66BB6A;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#opis {
  word-wrap: break-word;
}

.cropcircle {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: #eee no-repeat center;
  background-size: cover;
  margin: 0 auto;
}

.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafdfa;
  color: #5cd15b;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5bd15e;
  background-color: #f5faf6;
  border-left: 2px solid #43A047;
  margin-left: -2px;
}

img#profilna {
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
