<app-navigacija></app-navigacija>
<div class="container-fluid text-center">

  <div class="row content">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2 sidenav" style="text-align: left; padding-left: 55px;">
      <levanav></levanav>
    </div>
    <div class="col-sm-6 text-left" style="background-color:white; border-color: #EEEEEE; border-width:1px; border-style: solid;">
      <h3  style="font-family:Trebuchet MS;">IŠČEJO DOM</h3>
      <div class="media" *ngFor="let i of iscejoDomOmejeno">
        <div *ngIf="i?.imgSrc!='' && i?.imgSrc!=null">
          <div class="media-left">
            <a target="_blank" href="{{i?.povezava}}"><img lass="media-object" style="height:80px;" src="{{i?.imgSrc}}"></a>
          </div>
          <div class="media-body">
            <h4 class="media-heading" style="margin-bottom:0px;"><span style="margin-bottom:5px;"><small>{{i?.rubrika}}</small></span><br>
          <div><a target="_blank" href="{{i?.povezava}}" style="color: #43A047;">{{i?.title}}</a></div></h4>
            <p>{{i?.opis}} <a href="{{i?.povezava}}" style="color: #43A047;">[...]</a></p>
          </div>
          <hr>
        </div>
      </div>
      <div class="text-center" style="margin-bottom:10px;">
      <a id="pokaziVec" *ngIf="seobstaja" (click)="omeji()" style="color:#43A047"><span class="glyphicon glyphicon-refresh" style="margin-right:10px;"></span>Pokaži več ... </a>
    </div>
    </div>
    <div class=" col-sm-3 sidenav">
    </div>
  </div>
</div>
