<app-navigacija></app-navigacija>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2 sidenav" style="text-align: left; padding-left: 55px;">
      <levanav></levanav>
    </div>
    <div class="col-sm-6 text-left" style="background-color:white;padding:10px; ">
      <img src="assets/images/vsi.jpg" style="width:100%;margin-bottom:6px;cursor:pointer;" routerLink="/izzivi/vsi">
      <img src="assets/images/Lokacija.jpg" style="width:100%;margin-bottom:6px;cursor:pointer;" routerLink="/izzivi/Lokacija">
      <img src="assets/images/Trikci.jpg" style="width:100%;margin-bottom:6px;cursor:pointer;" routerLink="/izzivi/Trikci">
      <img src="assets/images/Ostalo.jpg" style="width:100%;margin-bottom:6px;cursor:pointer;" routerLink="/izzivi/Ostalo">
      <img src="assets/images/arhiv.jpg" style="width:100%;margin-bottom:6px;cursor:pointer;"routerLink="/izzivi/arhiv">
    </div>
    <div class=" col-sm-3 sidenav">

    </div>
  </div>
</div>
