<!--<div style="position: fixed;"><p><a routerLink="/izzivi" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-fire" style="color:#388E3C"></span> IZZIVI</a></p>
<p><a routerLink="/kinoloskadrustva" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-grain" style="color:#388E3C"></span> KINOLOŠKA DRUŠTVA</a></p>
<p><a routerLink="/iscejodom" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-home" style="color:#388E3C"></span> IŠČEJO DOM</a></p>
<p><a routerLink="/aktualno" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-book" style="color:#388E3C"></span> NOVICE</a></p>
<p><a routerLink="/ocenipasmo" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-list-alt" style="color:#388E3C"></span> OCENI MOJE PASME</a></p>
<p><a routerLink="/poiscipasmo" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-question-sign" style="color:#388E3C"></span> POIŠČI PASMO ZAME</a></p>
</div>
-->
<div style="position: fixed;">
    <div class="profile-sidebar">
      <div class="profile-usermenu">
        <ul class="nav">
          <li  routerLinkActive="active" >
            <a routerLink="/izzivi" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-fire" style="color:#388E3C"></span> IZZIVI</a>
          </li>
          <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/kinoloskadrustva" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-grain" style="color:#388E3C"></span> KINOLOŠKA DRUŠTVA</a>
          </li>
          <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/iscejodom" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-home" style="color:#388E3C"></span> IŠČEJO DOM</a>
          </li>
          <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/aktualno" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-book" style="color:#388E3C"></span> NOVICE</a>
          </li>
          <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/ocenipasmo" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-list-alt" style="color:#388E3C"></span> OCENI MOJE PASME</a>
          </li>
          <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/poiscipasmo" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-question-sign" style="color:#388E3C"></span> POIŠČI PASMO ZAME</a>
          </li>
        </ul>
      </div>
</div>
