<app-navigacija></app-navigacija>
<div class="container-fluid text-center" style="background-color:#E8F5E9;height:100%;position:absolute;top:0;bottom:0;left:0;right:0;overflow:hidden;z-index:-1;">
  <div class="row content" style="margin-top:60px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-3 ">
      <img src="assets/images/capiBig.png" style="margin-left:35%">
    </div>
    <div class="col-sm-6 text-center">
        <img src="assets/images/titl.png">
        <br><br>Pozdravljeni na socialnem omrežju za vse lastnike psov,
        <br>ki želijo s svojim psom preživljat kvaliteten čas!
        <br><br>Poveži se s pasjimi prijatelji in opravljaj izzive!
        <br><br>Za ogled portala se prijavi ali registriraj.
        <br><br><button class="btn btn-success" style="width: 200px;" routerLink="/prijava"> PRIJAVA </button>
        <br><br><button class="btn btn-success" style="width: 200px;" routerLink="/registracija"> REGISTRACIJA </button>
    </div>
    <div class="col-sm-2">

    </div>
  </div>
</div>
