<app-navigacija></app-navigacija>
<div *ngIf="uporabnik" class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-1 sidenav" style="text-align: left; padding-left: 55px;">
    </div>
    <div class="col-sm-3 text-left"  style="background-color:white;">
      <div [style.background-image]="'url(http://164.8.230.126/' + uporabnik.slika + ')'" class="cropcircle"></div>
      <!--<img class="img-thumbnail" style="height:150px;" src="http://164.8.230.126/{{uporabnik.slika}}">-->
      <div class="text-center"><h1>{{uporabnik.ime}} {{uporabnik.priimek}}</h1>
      <h4>{{uporabnik.uporIme}}, <i>{{uporabnik.kraj}}</i></h4>
      <p id="opis">{{uporabnik.kratekOpis}} </p>

      <button *ngIf="!staPrijatelja && uporabnik.uporIme!=prijavljen.uporIme" (click)="onDodaj()" class="btn btn-success btn-xs" style="width: 150px;">Dodaj prijatelja!</button>
      <button *ngIf="staPrijatelja && uporabnik.uporIme!=prijavljen.uporIme" (click)="onOdstrani(uporabnik._id)" class="btn btn-danger btn-xs" style="width: 110px;">Odstrani prijatelja!</button>

    </div>
      <hr>
      <div class="media" *ngFor="let pes of uporabnik.psi">
        <div class="media-left">
          <img class="media-object" id="profilna" src="http://164.8.230.126/{{pes.slika}}" />
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{pes.ime}}</h4>
          <small>{{pes.pasma}}</small>
        </div>
      </div>
      <hr>
      <div class="profile-sidebar">
        <div class="profile-usermenu">
          <ul class="nav">
            <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="/profil/{{uporabnik.uporIme}}" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-user" style="color:#388E3C"></span> PROFIL</a>
            </li>
            <li *ngIf="(staPrijatelja  || uporabnik.uporIme==prijavljen.uporIme) && uporabnik.psi!=0"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="/profil/{{uporabnik.uporIme}}/psi" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-heart" style="color:#388E3C"></span> VEČ O PSIH</a>
            </li>
            <li  *ngIf="staPrijatelja  || uporabnik.uporIme==prijavljen.uporIme" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/profil/{{uporabnik.uporIme}}/prijatelji" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-sunglasses" style="color:#388E3C"></span> PRIJATELJI</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
    <div class="col-sm-6 text-left">
      <div *ngIf="staPrijatelja  || uporabnik.uporIme==prijavljen.uporIme; else elseBlock">
        <div *ngFor="let objava of objaveOmejeno" style="background-color:white;padding:10px;margin-bottom:10px; border-color: #EEEEEE; border-width:1px; border-style: solid;">
          <table style="width:100%">
            <tr>
              <td width="80%">
                <h3>{{objava.naslov}}</h3></td>
              <td width="20%" style="text-align:right;"><small><a routerLink="/izzivi/pokazi/{{objava.izziv}}"><span class="glyphicon glyphicon-eye-open" style="color:#2E7D32;"></span>  Oglej si izziv </a></small></td>
            </tr>
            </table>
            <table style="width:100%"><tr>
            <td width="55px;">
              <img id="profilna" src="http://164.8.230.126/{{objava.profilna}}" />
              </td>
            <td>
              <a routerLink="/profil/{{objava.uporabnik}}" style="color:#388E3C;">
                <b>{{objava.imePriimek}}</b></a><br> <small>{{objava.datOddaje | date: 'dd.MM.yy HH:mm'}}</small>

            </td>
            <td>
              <p id="ocena" style="text-align: right;"><b>Ocena:</b>
                <span *ngIf="objava.ocena>=0" class="label label-success">{{objava.ocena}}</span>
                <span *ngIf="objava.ocena<0" class="label label-danger">{{objava.ocena}}</span>
              </p>
            </td>
          </tr>
        </table>
        <p style="margin-top:8px;">{{objava.opis}}</p>
          <div style="text-align:center;">
            <a routerLink="/objava/{{objava._id}}"><img src="http://164.8.230.126/{{objava.slika}}" style="width:100%;"></a>
          </div>
        </div>
      </div>
      <ng-template #elseBlock>Za ogled objav uporabnika {{uporabnik.uporIme}}, dodaj uporabnika med prijatelje.</ng-template>
      <div class="text-center" style="margin-bottom:10px;">
      <a id="pokaziVec" *ngIf="seobstaja" (click)="omejiObjave()" style="color:#43A047"><span class="glyphicon glyphicon-refresh" style="margin-right:10px;"></span>Pokaži več ... </a>
    </div></div>
    <div class="col-sm-2 sidenav">
    </div>

  </div>
</div>
