<app-navigacija></app-navigacija>
<div *ngIf="uporabnik" class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-1 sidenav" style="text-align: left; padding-left: 55px;">
    </div>
    <div class="col-sm-3 text-left" style="background-color:white;">
      <div [style.background-image]="'url(http://164.8.230.126/' + uporabnik.slika + ')'" class="cropcircle"></div>
      <!--<img class="img-thumbnail" style="height:150px;" src="http://164.8.230.126/{{uporabnik.slika}}">-->
      <div class="text-center">
        <h1>{{uporabnik.ime}} {{uporabnik.priimek}}</h1>
        <h4>{{uporabnik.uporIme}}, <i>{{uporabnik.kraj}}</i></h4>
        <p id="opis">{{uporabnik.kratekOpis}} </p>
        <button *ngIf="!staPrijatelja && uporabnik.uporIme!=prijavljen.uporIme" (click)="onDodaj()" class="btn btn-success btn-xs" style="width: 150px;">Dodaj prijatelja!</button>
        <button *ngIf="staPrijatelja && uporabnik.uporIme!=prijavljen.uporIme" (click)="onOdstrani(uporabnik._id)" class="btn btn-danger btn-xs" style="width: 110px;">Odstrani prijatelja!</button>

      </div>
      <hr>
      <div class="media" *ngFor="let pes of uporabnik.psi">
        <div class="media-left">
          <img class="media-object" id="profilna" src="http://164.8.230.126/{{pes.slika}}" />
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{pes.ime}}</h4>
          <small>{{pes.pasma}}</small>
        </div>
      </div>
      <hr>
      <div class="profile-sidebar">
        <div class="profile-usermenu">
          <ul class="nav">
            <li *ngIf="uporabnik.uporIme==prijavljen.uporIme" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="/mojprofil" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-user" style="color:#388E3C"></span> PROFIL</a>
            </li>
            <li *ngIf="uporabnik.uporIme!=prijavljen.uporIme" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="/profil/{{uporabnik.uporIme}}" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-user" style="color:#388E3C"></span> PROFIL</a>
            </li>
            <li *ngIf="uporabnik.psi!=0"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="/profil/{{uporabnik.uporIme}}/psi" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-heart" style="color:#388E3C"></span> VEČ O PSIH</a>
            </li>
            <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/profil/{{uporabnik.uporIme}}/prijatelji" style="font-family:Trebuchet MS; color:grey"><span class="glyphicon glyphicon-sunglasses" style="color:#388E3C"></span> PRIJATELJI</a>
            </li>
          </ul>
        </div>
    </div>
    </div>
    <div class="col-sm-6 text-left" style="margin-left: 15px;background-color:white;padding:10px;margin-bottom:10px; border-color: #EEEEEE; border-width:1px; border-style: solid;">
      <h3>PRIJATELJI</h3>
      <div *ngIf="staPrijatelja  || uporabnik.uporIme==prijavljen.uporIme; else elseBlock">
        <div class="media" *ngFor="let prijatelj of prijatelji" >
          <div class="media-left">
            <a routerLink="/profil/{{prijatelj.uporIme}}">
      	        <img class="media-object pro" src="http://164.8.230.126/{{prijatelj.slika}}">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a routerLink="/profil/{{prijatelj.uporIme}}">{{prijatelj.ime}} {{prijatelj.priimek}}</a></h4>
            {{prijatelj.uporIme}}, {{prijatelj.kraj}}
          </div>
          <hr>
        </div>
      </div>
      <ng-template #elseBlock>Za ogled prijateljev uporabnika {{uporabnik.uporIme}}, dodaj uporabnika med prijatelje.</ng-template>
    </div>
    <div class="col-sm-2 sidenav">
    </div>

  </div>
</div>
